
.flex {
    display: flex;
    height: 1150px;
}
.container{
    weight: 100%;
    padding: 20px;
}
.header .row .col-md-1{
    background: grey;
    height: 100px;
    margin: 12px;
    color: whitesmoke;
    text-shadow: black;
}

.header .row .col-md-3{
    background: grey;
    height: 100px;
    margin: 12px;
    color: whitesmoke;
}

.header .row .col-md-7{
    background: grey;
    height: 100px;
    margin: 12px;
    color: whitesmoke;
}
.content{
    weight: 920px;
    height: 764px;
}

.leftside{
    background-color: white;
    height: 746px;
    width: 170px;
    margin: 10px;
}
.block1{
    display: flex;
    flex-direction: column;
    height: 320px;
    background: grey;
    width: 170px;
    padding-left: 15px;
    color: whitesmoke;
    font-size: 14px;
}
.block2{
    display: flex;
    height: 116px;
    background: grey;
    width: 170px;
    padding-left: 15px;
    color: whitesmoke;
    font-size: 14px;
    flex-direction: column;
    margin-top: 290px;
}
.content2{
    display: flex;
    width: 895px;
    height: 200px;
    padding: 10px;
    margin-left: 10px;
    flex-direction: column;
}

.content2 .col-12{
    height: 200px;
    width: 905px;
    display: inline-block;
    margin-left: 13px;
    color: whitesmoke;
    background-color: lightgrey;
}
.text-dark{
    font-size: 14px;
    padding-left: 15px;
}
.text-dark.font-weight-normal{
    margin-left: 45px;
}

.content3 {
    display: flex;
    height: 80px;
    width: 905px;
    flex-direction: column;
}


.content3 .row {
    width: 905px;
    height: 600px;
}


.content3 .row .col-md-2{
    display: flex;
    flex-direction: column;
    height: 150px;
    background: lightgrey;
    width: 200px;
    margin-left: 30px;
    padding-left: 15px;
    color: whitesmoke;
    font-size: 14px;
}

.content4 .row {
    width: 905px;
    height: 200px;
}

.content4 .row .col-md-2{
    display: inline-block;
    height: 150px;
    background: lightgrey;
    width: 200px;
    margin-top: 100px;
    margin-left: 30px;
    padding-left: 15px;
    color: whitesmoke;
    font-size: 14px;
}
.content5 .row {
    width: 905px;
    height: 200px;
}
.content5 .row .col-md-5{
    display: inline-block;
    height: 173px;
    width: 905px;
    background: lightgrey;
    margin-top: 75px;
    margin-left: 30px;
    padding-left: 15px;
    color: whitesmoke;
    font-size: 14px;
}
.content5 .row .col-md-6{
     display: inline-block;
     height: 173px;
     width: 905px;
     white-space: ;
     background: lightgrey;
     margin-top: 75px;
     margin-left: 38px;
     padding-left: 15px;
     color: whitesmoke;
     font-size: 14px;
}
/*Кінець стилів для блоку 2 з контентом*/

/*Початок стильв для блоку 3*/
hr{
    width: 1080px;
    margin: 10px;
    padding: 0px;
}

.footer .row{
    width: 1100px;
    height: 300px;
}

.footer .row .col-md-4{
    display: inline-block;
    height: 150px;
    background: grey;
    width: 300px;
    margin-top: 20px;
    margin-left: 28px;
    padding-left: 15px;
    color: whitesmoke;
    font-size: 14px;
}
.col-12.col-md-4 .col-md-3{
    display: inline-block;
    height: 130px;
    background: grey;
    width: 300px;
    margin-top: -15px;
    margin-left: 28px;
    padding-left: 15px;
    color: whitesmoke;
    font-size: 13px;
}

li{
    font-size: 12px;
}

.footer .row .flex{
    display: flex;
    flex-direction: column;
}
.footer .row .flex .block3{
    display: flex;
    flex-direction: column;
    height: 63px;
    background: grey;
    width: 280px;
    margin-top: 20px;
    margin-left: 28px;
    padding-left: 15px;
    color: whitesmoke;
    font-size: 14px;
}
.footer .row .flex .block4{
    display: flex;
    flex-direction: column;
    height: 63px;
    background: grey;
    width: 282px;
    margin-top: 20px;
    margin-left: 28px;
    padding-left: 15px;
    color: whitesmoke;
    font-size: 14px;
}